<div alt-component="dialog/reject" data-scope="reject"></div>
<div alt-component="dialog/action" data-scope="action"></div>
<div alt-component="dialog/confirm" data-scope="confirm"></div>
<div class="main-content content-home">
    <div class="row">
        <div class="col-12 col-md-6 border-bottom py-3 {{$index%2==1?'bg-light':''}}" ng-repeat="i in items track by $index">
            
            <div class="fs-5 text-themes text-uppercase">
                 <strong>{{i.code_nama}} - {{i.tiket}}</strong>
            </div>
            <div class="mb-3">
                <small class="py-1 px-3 {{(i.step_id<10?'bg-themes':(i.step_id>10?'bg-danger':'bg-success'))}} text-white rounded-pill">
                    {{i.step_nama}} 
                </small>
            </div>
            <div class="small ps-3">

                <div class="text-uppercase" ng-if="i.code_id==2||i.code_id==3">
                    <div>
                        <span class="fa fa-calendar-day text-muted pe-2"></span>{{helper.toFormat(i.submission_tgl_awal)}} - {{helper.toFormat(i.submission_tgl_akhir)}}
                    </div>
                    <div ng-if="i.code_id==2">
                        <span class="fa fa-clock text-muted pe-2"></span>{{helper.toFormat(i.submission_jam_awal,'HH.mm')}} - {{helper.toFormat(i.submission_jam_akhir,'HH.mm')}}
                    </div> 
                    <div>
                        <span class="fa fa-building text-muted pe-2"></span>{{i.office_nama}}
                    </div>
                    <div ng-if="i.code_id==2">
                        <span class="fa fa-sign text-muted pe-2"></span>{{i.lokasi_nama}}
                    </div> 
                    <div ng-if="i.code_id==3">
                        <span class="fa fa-map-marker text-muted pe-2"></span>{{i.submission_tujuan}}
                    </div>
                    <div ng-if="i.code_id==3">
                        <span class="fa fa-shapes text-muted pe-2"></span>{{i.aset_nama}} - {{i.submission_obyek}}
                    </div>
                </div>
                <div ng-if="i.code_id>3 || i.code_id<2">
                    <div ng-if="i.code_id<6">
                        <span class="fa fa-building text-muted pe-2"></span>{{i.office_nama}}
                    </div>
                    <div ng-if="i.code_id==1">
                        <span class="fa fa-sign text-muted pe-2"></span>{{i.lokasi_nama}}
                    </div> 
                    <div ng-if="i.code_id==4">
                        <span class="fa fa-motorcycle text-muted pe-2"></span>{{i.submission_obyek}} {{i.submission_identitas}}
                    </div>
                </div>
                <div class="fs-6" ng-if="i.submission_catatan">
                    {{i.submission_catatan}}
                </div>
                <div class="py-2">
                    <img ng-src="{{ii}}" class="img-tiny pointer me-3 mb-3" ng-click="showImg.open(ii)" ng-repeat="ii in i.images">
                </div>
                <div class="text-muted pt-2">
                    <span class="fa fa-user text-muted pe-2"></span>{{i.user_nama}} - {{helper.toFormat(i.tgl_submit)}}
                </div> 
                <div class="text-muted" ng-if="i.approval_id!=0">
                    <span class="fa fa-user-check text-muted pe-2"></span>{{i.approval_nama}} - {{helper.toFormat(i.tgl_approve)}}
                </div> 
            </div>
            
            <div class="text-end" ng-if="i.step_id==1">
                <button class="btn btn-danger btn-sm" ng-click="reject.open(i)">
                    <span class="fa fa-trash-alt pe-2"></span>Reject
                </button> 
                <button class="btn btn-primary btn-sm" ng-click="approve(i)">
                    <span class="fa fa-handshake pe-2"></span>Approve
                </button> 
            </div>
            <div class="text-end" ng-if="i.step_id==2">
                <button class="btn btn-danger btn-sm" ng-click="reject.open(i)">
                    <span class="fa fa-trash-alt pe-2"></span>Reject
                </button> 
                <button class="btn btn-primary btn-sm" ng-click="follup(i)">
                    <span class="fa fa-handshake pe-2"></span>Tindak Lanjut
                </button> 
            </div>
            <div class="text-end" ng-if="i.step_id==3">
                <button class="btn btn-success btn-sm" ng-click="actdone(i)">
                    <span class="fa fa-handshake pe-2"></span>Selesai
                </button> 
            </div>
        </div>
    </div>
</div>

