<div class="form-dialog-x-backdrop {{active?'active':''}}">
    <div class="col-md-6 m-auto bg-white form-dialog-x-body">
      <div class="row form-dialog-navbar">
        <div class="col-1" ng-click="close()">
          <span class="fa fa-arrow-left pointer"></span>
        </div>
        <div class="col text-center">
            <span class="fa fa-{{icon}} pe-3"></span>{{title}}
        </div>
      </div>
           
     
        <div class="mb-3">
            <label class="form-label"><span class="fa fa-building text-muted pe-3"></span>Office</label>
            <input type="text" class="form-control" ng-model="data.office_nama" ng-click="officeDlg.open()" required>    
        </div>
        <div class="mb-3">
            <label class="form-label"><span class="fa fa-sign text-muted pe-3"></span>Lokasi</label>
            <input type="text" class="form-control" ng-model="data.lokasi_nama" ng-click="lokasiDlg.open()" required>    
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <label class="form-label"><span class="fa fa-calendar-day text-muted pe-1"></span>Dari Tanggal</label>
                <input type="text" ng-model="data.awal_tanggal" class="form-control" date-time
                auto-close="true" view="date" min-view="date" min-date="minDate"
                max-view="month" format="dd/MM/yyyy" watch-direct-changes
                placeholder="Mulai Overtime" required>
            </div>
            <div class="col-6">
                <label class="form-label"><span class="fa fa-calendar-week text-muted pe-1"></span>Sampai Tanggal</label>
                <input type="text" ng-model="data.akhir_tanggal" class="form-control" date-time
                auto-close="true" view="date" min-view="date" min-date="minDate"
                max-view="month" format="dd/MM/yyyy" watch-direct-changes
                placeholder="Akhir Overtime" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <label class="form-label"><span class="fa fa-clock text-muted pe-1"></span>Dari Jam</label>
                <input type="text" class="form-control" ng-model="data.awal_jam" placeholder="format JJ.MM" required>
            </div>
            <div class="col-6">
                <label class="form-label"><span class="fa fa-stopwatch text-muted pe-1"></span>Sampai Jam</label>
                <input type="text" class="form-control" ng-model="data.akhir_jam" placeholder="format JJ.MM" required>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label"><span class="fa fa-sticky-note text-muted pe-1"></span>Catatan</label>
            <textarea class="form-control" rows="3" ng-model="data.catatan" maxlength="120"></textarea>
            <div class="small text-end text-muted">&nbsp;{{data.catatan_length}}</div>
        </div>
        <div class="separator-50"></div>
        <div class="mb-3 row">
            <div class="col d-grid">
            </div>
            <div class="col d-grid">
                <button class="btn btn-themes">Submit</button>
            </div>
        </div>
    </div>
</div>


<div alt-component="search" data-scope="officeDlg"></div>
<div alt-component="search" data-scope="lokasiDlg"></div>
