<div class="main-content content-home">
    <div class="mb-3">
        <div class="color-themes">
            <strong>Komplen</strong>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <span class="fa fa-calendar-day text-muted pe-2"></span>12/02/2023
            </div>
            <div class="col-6 col-md-9">
                <span class="fa fa-user text-muted pe-2"></span>Agus Ariyanto
            </div>
            <div class="col-6 col-md-3">
                <span class="fa fa-shapes text-muted pe-2"></span>Meja Pijat
            </div>
            <div class="col-6 col-md-9">
                <span class="fa fa-lightbulb text-muted pe-2"></span>Kaki Meja
            </div>
            <div class="col-12">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius doloribus rerum sequi reiciendis minima iure ea, nesciunt aliquid esse officia nostrum temporibus perspiciatis nobis possimus, iusto ipsa facere eveniet officiis!
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="" alt="">
            </div>
        </div>

    </div>
</div>
