<div class="main-content content-home">
      
    <div class="mb-3 border-bottom py-2">
        <div>
            <div class="fs-5 color-themes">
                <strong>Komplen</strong>
            </div>
            <div class="row mb-3 small">
                <div class="col-6 col-md-3">
                    <span class="fa fa-calendar-day text-muted pe-2"></span>12/02/2023
                </div>
                <div class="col-6 col-md-9">
                    <span class="fa fa-user text-muted pe-2"></span>Agus Ariyanto
                </div>
                <div class="col-6 col-md-3">
                    <span class="fa fa-building text-muted pe-1"></span>Jamsostek
                </div>
                <div class="col-6 col-md-9">
                    <span class="fa fa-sign text-muted pe-1"></span>Wing Utara
                </div>
                <div class="col-6 col-md-3">
                    <span class="fa fa-shapes text-muted pe-2"></span>Meja Pijat
                </div>
                <div class="col-6 col-md-9">
                    <span class="fa fa-lightbulb text-muted pe-2"></span>Kaki Meja
                </div>
                <div class="col-12">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius doloribus rerum sequi reiciendis minima iure ea, nesciunt aliquid esse officia nostrum temporibus perspiciatis nobis possimus, iusto ipsa facere eveniet officiis!
                </div>
            </div>
            <div>
                <img src="assets/img/sample/meja-makan.jpg" class="img-tiny pointer me-3 mb-3">
                <img src="assets/img/sample/pintu.jpg" class="img-tiny pointer me-3 mb-3">
                <img src="assets/img/sample/pintu-1.jpg" class="img-tiny pointer me-3 mb-3">
                <img src="assets/img/sample/plafon.jpg" class="img-tiny pointer me-3 mb-3">
            </div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6 text-end">
                <button class="btn btn-danger btn-sm">
                    <span class="fa fa-trash pe-2"></span>Reject
                </button>
                <button class="btn btn-primary btn-sm">
                    <span class="fa fa-check pe-2"></span>Approve
                </button>
            </div>
        </div>
    </div>

    <div class="mb-3 border-bottom py-2">
        <div>
            <div class="color-themes">
                <strong>Komplen</strong>
            </div>
            <div class="row mb-3">
                <div class="col-6 col-md-3">
                    <span class="fa fa-calendar-day text-muted pe-2"></span>12/02/2023
                </div>
                <div class="col-6 col-md-9">
                    <span class="fa fa-user text-muted pe-2"></span>Agus Ariyanto
                </div>
                <div class="col-6 col-md-3">
                    <span class="fa fa-shapes text-muted pe-2"></span>Meja Pijat
                </div>
                <div class="col-6 col-md-9">
                    <span class="fa fa-lightbulb text-muted pe-2"></span>Kaki Meja
                </div>
                <div class="col-12">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius doloribus rerum sequi reiciendis minima iure ea, nesciunt aliquid esse officia nostrum temporibus perspiciatis nobis possimus, iusto ipsa facere eveniet officiis!
                </div>
            </div>
            <div>
                <img src="assets/img/sample/meja-makan.jpg" class="img-tiny pointer me-3 mb-3">
                <img src="assets/img/sample/pintu.jpg" class="img-tiny pointer me-3 mb-3">
                <img src="assets/img/sample/pintu-1.jpg" class="img-tiny pointer me-3 mb-3">
                <img src="assets/img/sample/plafon.jpg" class="img-tiny pointer me-3 mb-3">
            </div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6 text-end">
                <button class="btn btn-danger btn-sm">
                    <span class="fa fa-trash pe-2"></span>Reject
                </button>
                <button class="btn btn-primary btn-sm">
                    <span class="fa fa-trash pe-2"></span>Approve
                </button>
            </div>
        </div>

        <div>
            <div class="color-themes">
                <strong>Komplen</strong>
            </div>
            <div class="row mb-3">
                <div class="col-6 col-md-3">
                    <span class="fa fa-calendar-day text-muted pe-2"></span>12/02/2023
                </div>
                <div class="col-6 col-md-9">
                    <span class="fa fa-user text-muted pe-2"></span>Agus Ariyanto
                </div>
                <div class="col-6 col-md-3">
                    <span class="fa fa-shapes text-muted pe-2"></span>Meja Pijat
                </div>
                <div class="col-6 col-md-9">
                    <span class="fa fa-lightbulb text-muted pe-2"></span>Kaki Meja
                </div>
                <div class="col-12">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius doloribus rerum sequi reiciendis minima iure ea, nesciunt aliquid esse officia nostrum temporibus perspiciatis nobis possimus, iusto ipsa facere eveniet officiis!
                </div>
            </div>
            <div>
                <img src="assets/img/sample/meja-makan.jpg" class="img-tiny pointer me-3 mb-3">
                <img src="assets/img/sample/pintu.jpg" class="img-tiny pointer me-3 mb-3">
                <img src="assets/img/sample/pintu-1.jpg" class="img-tiny pointer me-3 mb-3">
                <img src="assets/img/sample/plafon.jpg" class="img-tiny pointer me-3 mb-3">
            </div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6 text-end">
                <button class="btn btn-danger btn-sm">
                    <span class="fa fa-trash pe-2"></span>Reject
                </button>
                <button class="btn btn-primary btn-sm">
                    <span class="fa fa-trash pe-2"></span>Approve
                </button>
            </div>
        </div>
    </div>

</div>
