<div class="form-dialog-x-backdrop {{active?'active':''}}">
    <div class="col-md-6 m-auto bg-white form-dialog-x-body">
      <div class="row form-dialog-navbar">
        <div class="col-1" ng-click="close()">
          <span class="fa fa-arrow-left pointer"></span>
        </div>
        <div class="col text-center">
            <span class="fa fa-{{icon}} pe-3"></span>{{title}}
        </div>
      </div>
        <div class="mb-3">
            <label class="form-label"><span class="fa fa-building text-muted pe-1"></span>Office</label>
            <input type="text" class="form-control" ng-model="data.office_nama" ng-click="officeDlg.open()">    
        </div>
        <div class="mb-3">
            <label class="form-label"><span class="fa fa-sign text-muted pe-1"></span>Lokasi</label>
            <input type="text" class="form-control" ng-model="data.lokasi_nama" ng-click="lokasiDlg.open()">    
        </div>
        <div class="mb-3">
            <label class="form-label"><span class="fa fa-shapes text-muted pe-1"></span>Aset</label>
            <input class="form-control" ng-model="data.identitas" list="komplen-idens" placeholder="misal : Kamar Mandi">
                <datalist id="komplen-idens">
                    <option value="{{i}}" ng-repeat="i in idens">
                </datalist>
        </div>
        <div class="mb-3">
            <label class="form-label"><span class="fa fa-lightbulb text-muted pe-1"></span>Obyek</label>
            <input type="text" class="form-control" ng-model="data.obyek" placeholder="misal : handle pintu">    
        </div>
        <div class="mb-3">
            <label class="form-label"><span class="fa fa-sticky-note text-muted pe-1"></span>Catatan</label>
            <textarea class="form-control" rows="3" ng-model="data.catatan" maxlength="120" placeholder="misal : sangat susah dibuka, baut copot sebelah"></textarea>
            <div class="small text-end text-muted">&nbsp;{{data.catatan_length}}</div>
        </div>

        <div>
            <div class="image-upload" ng-repeat="i in images">
                <div class="icon-image-close">x</div>
                <img ng-src="{{data.image||'assets/img/upload-foto.png'}}" class="image-upload-content">
            </div>
            <div class="image-upload-plus" ng-show="!data.image">
                <img ng-src="{{data.image||'assets/img/upload-foto.png'}}" class="image-upload-content" ng-click="uploadImage()">
            </div>
        </div>
        <div class="small text-muted">
            <em>Foto Obyek</em>  
        </div>


        <div class="separator-50"></div>
        <div class="mb-3 row">
            <div class="col d-grid">
            </div>
            <div class="col d-grid">
                <button class="btn btn-themes" ng-click="submit()">Submit</button>
            </div>
        </div>
    </div>
</div>
<div alt-component="search" data-scope="officeDlg"></div>
<div alt-component="search" data-scope="lokasiDlg"></div>
