<div class="itr-dialog-backdrop {{active?'active':''}}">
    <div class="col-md-6 p-3 m-auto mb-2 bg-white border border-secondary rounded-bottom small-full-width">
        <form ng-submit="submit()">

            <div class="mb-3">&nbsp;</div>
            <div class="mb-3">
                <label class="form-label">Catatan</label>
                <textarea class="form-control" rows="3" ng-model="data.catatan" maxlength="500"></textarea>
                <div class="small text-muted text-end">&nbsp;{{data.catatan_length}}</div>
            </div>
            
            <div class="separator-50"></div>
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-outline-secondary btn-sm" ng-click="close()">
                        <span class="fa fa-arrow-left pe-3"></span>Cancel
                    </button>
                </div>
                <div class="col-6 text-end">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <span class="fa fa-handshake pe-3"></span>Confirm
                    </button>
                </div>
            </div>     
        </form>
    </div>
</div>
