<div class="form-dialog-x-backdrop {{active?'active':''}}">
    <div class="col-md-6 form-dialog-x-body m-auto">
        <div>
            <div class="image-upload">
                <div class="icon-image-close">x</div>
                <img ng-src="{{data.img_1||'assets/img/upload-foto.png'}}" class="image-upload-content">
            </div>
        </div>
        <div class="mb-3 small text-muted">
            <em>Foto Diri</em>
        </div>

        <div class="separator-50"></div>
        <div class="mb-3 row">
            <div class="col d-grid">
            </div>
            <div class="col d-grid">
                <button class="btn btn-themes">Submit</button>
            </div>
        </div>
    </div>
</div>