<style media="screen">
    .itr-loading-backdrop{
        position: fixed;
        top: 0;
        left:0;
        width:100%;
        height:100%;
        z-index: 99999;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .itr-loading-text{
        position: absolute;
        top: 50%;
        left: 50%;
        font-size:2rem;
        color:#0b00d7;
        /* transform: translateX(-50%) translateY(-50%); */
        text-shadow:0 0 3px #fff;

    }
    .itr-loading-image{
        position: absolute;
        width: 72px;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        animation: ngepot 1s infinite;

    }
    
    @keyframes ngepot {
        0% {
            transform:rotate(0deg)
        }

        25% {
            transform:rotate(-45deg) translateX(-50%);
        }

        50% {
            transform:rotate(0deg)
        }
        75% {
            transform:rotate(45deg) translateX(50%);
        }

        100% {
            transform:rotate(0deg);
        }

    }
</style>

<div class="itr-loading-backdrop" ng-show="active">
    <img src="assets/img/itransport-loading.png" class="itr-loading-image">
</div>
