<div class="form-dialog-x-backdrop {{active?'active':''}}">
    <div class="col-md-6 m-auto bg-white form-dialog-x-body">
      <div class="row form-dialog-navbar">
        <div class="col-1" ng-click="close()">
          <span class="fa fa-arrow-left pointer"></span>
        </div>
        <div class="col text-center">
            <span class="fa fa-{{icon}} pe-3"></span>{{title}}
        </div>
      </div>
      <div class="mb-3">
          <label class="form-label"><span class="fa fa-building text-muted pe-3"></span>Office</label>
          <input type="text" class="form-control" ng-model="data.office_nama" ng-click="officeDlg.open()" required>    
      </div>
      <div>
          <div class="image-upload" ng-repeat="i in images">
              <div class="icon-image-close">x</div>
              <img ng-src="{{data.image||'assets/img/upload-foto.png'}}" class="image-upload-content">
          </div>
          <div class="image-upload-plus" ng-show="!data.image">
              <img ng-src="{{data.image||'assets/img/upload-foto.png'}}" class="image-upload-content" ng-click="uploadImage()">
          </div>
      </div>
      <div class="mb-3 small text-muted">
          <em>Foto ID Card</em>
      </div>

      <div class="separator-50"></div>
      <div class="mb-3 row">
          <div class="col d-grid">
          </div>
          <div class="col d-grid">
              <button class="btn btn-themes">Submit</button>
          </div>
      </div>
  </div>
</div>
<div alt-component="search" data-scope="officeDlg"></div>
      