<div class="form-dialog-x-backdrop {{active?'active':''}}">
    <div class="col-md-8 form-dialog-x-body">
     <div class="border-bottom py-3">
                 <div><span class="fa fa-comment-dots text-muted pe-3"></span>Komplain</div>
                 <div>Agus Ariyanto</div>
                 <div>Bidang Fasilitas Umum</div>
                 <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sunt amet omnis doloribus voluptates</div>
     </div>

        
    </div>
</div>