<div class="form-dialog-x-backdrop {{active?'active':''}}">
    <div class="col-md-8 form-dialog-x-body">
     <div class="border-bottom py-3">
                 <div class="color-themes fw-light lh-lg"><span class="fa fa-comment-dots pe-3"></span>Komplain</div>
                 <div class="lh-sm">Agus Ariyanto</div>
                 <div class="lh-sm">Bidang Fasilitas Umum</div>
                 <div class="lh-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sunt amet omnis doloribus voluptates</div>
     </div>

        
    </div>
</div>