<div class="form-dialog-x-backdrop {{active?'active':''}}">
    <div class="col-md-6 form-dialog-x-body m-auto">
      
        <div class="mb-3">
            <label class="form-label"><span class="fa fa-building text-muted pe-3"></span>Office</label>
            <input type="text" class="form-control" ng-model="data.office_nama" ng-click="officeDlg.open()">    
        </div>
        <div class="">
            <div class="image-upload">
                <div class="icon-image-close">x</div>
                <img ng-src="{{data.img_1||'assets/img/upload-foto.png'}}" class="image-upload-content">
            </div>
        </div>
        <div class="mb-3 small text-muted">
            <em>Foto STNK</em>
        </div>

        <div class="separator-50"></div>
        <div class="mb-3 row">
            <div class="col d-grid">
            </div>
            <div class="col d-grid">
                <button class="btn btn-themes">Submit</button>
            </div>
        </div>
    </div>
</div>