.form-login{
    width:33%;
    height:auto;
    margin:auto;
    border:1px solid #016074;
    padding:15px;
    border-radius: 6px;
    margin-top:60px;
    padding-top:50px;
    padding-bottom:30px;
}

.btn-login{
    color: white;
    background-color: #016074;
    text-shadow: 1px 1px 1px #555;
}

.btn-login:hover{
    color: white;
    background-color: #0292af;
    text-shadow: 1px 1px 1px #555;
}

.border-login{
    border:1px solid #016074;
}

.check-input-login:checked {
    background-color: #016074;
    border-color: #0d6efd;
  }

.form-dialog-backdrop{
    position: fixed;
    top: 120vh;
    left:0;
    width:100%;
    height:100vh;
    z-index: 99999;
    background-color:rgba(34, 34, 34, 0.074);
    transition:top 0.250s ease;
    overflow-y: auto;
    padding-top:10px;
}
.form-dialog-backdrop.active{
    top:0px;
}
.form-dialog-content{
    /* min-height:100vh; */
    background-color: white;
    width:576px;
    padding:15px;
    padding-top:5px;
    padding-bottom:30px;
    border:1px solid #eaeaea;
}

.span-link{
    font-size: 1.4rem;
    line-height: 1.5;
    display: inline-block;
}

@media (max-width: 640px) {
    .form-login{
        width:100%;
        height: 100vh;
        border:0;
        border-radius: 0;
    }
    .form-dialog-content{
        width:100%;
        border:none;
    }
    .form-dialog-backdrop{
        background-color: transparent;
    }
}

.pointer{
    cursor: pointer;
}
.navi-top{
    background-color: #016074;
    color: white;
    position: fixed;
    width: 100%;
    left: 0;
    top:0;
}