.login-background{
    width: 100%;
    height: 100vh;
    position: fixed;
    left:0;
    top:0;
    background-color: #7fddd5;
    overflow: auto;
}
.form-login{
    background-color: white;
    width:33%;
    /* height:100vh; */
    margin:auto;
    /* border:1px solid #016074; */
    padding:15px;
    /* border-radius: 6px; */
    margin-top:20vh;
    padding-top:60px;
    padding-bottom:50px;
}

.btn-login{
    color: white;
    background-color: #016074;
    text-shadow: 1px 1px 1px #555;
}

.btn-login:hover{
    color: white;
    background-color: #0292af;
    text-shadow: 1px 1px 1px #555;
}

.border-login{
    border:1px solid #016074;
}

.check-input-login:checked {
    background-color: #016074;
    border-color: #0d6efd;
  }

.form-dialog-backdrop{
    position: fixed;
    top: 120vh;
    left:0;
    width:100%;
    height:100vh;
    z-index: 99999;
    background-color:#ffffff;
    transition:top 1s ease;
    overflow-y: auto;
    padding-top:10px;
}
.form-dialog-backdrop.active{
    top:0;
}
.form-dialog-content{
    /* min-height:100vh; */
    background-color: white;
    width:576px;
    padding:15px;
    padding-top:5px;
    padding-bottom:30px;
    border:1px solid #eaeaea;
}

.span-link{
    font-size: 1.4rem;
    line-height: 1.5;
    display: inline-block;
}



.pointer{
    cursor: pointer;
}
.navi-top{
    background-color: #016074;
    color: white;
    position: fixed;
    width: 100%;
    left: 0;
    top:0;
    height:50px;
    padding-right:15px;
    padding-left:15px;
}


.navi-bottom{
    /* background-color: #016074; */
    box-shadow: 1px 1px 3px #666;
    color:#016074;
    position: fixed;
    width: 100%;
    left: 0;
    bottom:0;
    height:50px;
}

.line-height-50{
    line-height: 50px;
}

.form-dialog-x-backdrop{
    position: fixed;
    top: 0;
    left:100%;
    width:100%;
    height:100vh;
    z-index: 99999;
    background-color:rgba(0, 0, 0, 0.704);
    transition:left 0.250s ease;
    overflow-y: auto;
}
.form-dialog-x-backdrop.active{
    left:0;
}
.form-dialog-x-top{
   height: 50px;
   color: #016074;
   line-height: 50px;
   width:100%;
   box-shadow: 0 0 2px #999; 
   padding-right: 15px;
   padding-left:15px;
}
.form-dialog-x-body{
    padding: 30px;
    padding-top:15px;
 }
 .form-dialog-navbar{
     width:100%;
     font-size: 18px;
     padding-bottom:30px;
 }
.form-dialog-x-top>span{
    padding-left:15px;
    padding-right:15px;
}

.text-themes{
    color: #016074;
}
.separator-50{
    width:100%;
    display: block;
    height: 50px;
}
.icon-label{
    padding-right:15px;
}
.form-icon-title{
    position:absolute;
    display: block;
    top:-10px;
    right:0;
    opacity: 0.2;
    transform: rotate(-35deg);
    font-size: 64px;
    color: #016074;
    z-index:-1;
}

.btn-themes{
  color: #fff;
  background-color: #016074;
  border-color: #004b5a;
  text-shadow:1px 1px 1px #000;
}
.btn-themes:hover{
    color: #fff;
    border-color: #016074;
    background-color:  #028fac;
    text-shadow:1px 1px 1px #000;
}

.btn-outline-themes{
    background-color: #fff;
    color:#004b5a;
    border-color: #004b5a;
  }
.btn-outline-themes:hover{
      color: #fff;
      border-color: #016074;
      background-color:  #028fac;
      /* text-shadow:1px 1px 1px #000; */
}

.image-upload{
    position: relative;
    display: inline-block;
    width:50%;
    height:auto;
    padding:10px;
    /* background-color: #666; */
    border:1px dashed #bbb;

}
.image-upload-plus{
    position: relative;
    display: inline-block;
    width:128px;
    height:auto;
    padding:10px;
    /* background-color: #666; */
    border:1px dashed #bbb;
}
.image-upload-content{
    width:100%;
    height:auto;
    cursor: pointer;
}
.icon-image-close{
    position: absolute;
    right: 6px;
    top:6px; 
    text-align: center;
    background-color: red;
    color: white;
    /* text-shadow: 1px 1px 1px black; */
    border: 1px solid white;
    width:24px;
    height:24px;
    border-radius: 12px;
    line-height: 20px;
    cursor: pointer;
}
.icon-image-close:hover{
    background-color: #5b0000;
}

.teman,.sapa{
    display: inline-block;
    font-size: 64px;
    font-weight: bold;
    color:black;
    text-shadow: 0 0 5px #333;
}
.sapa{
    transform: rotate(-25deg);
    font-size: 72px;
    margin-left: -50px;
    color: cadetblue;
}
.navi-top-item{
    position: fixed;
    width:350px;
    height:100vh;
    right:-350px;
    top:0;
    background-color: cadetblue;
    z-index: 9999;
    transition:right 0.250s ease;
}
.navi-top-item.active{
    /* right: */
    right:0;
}
.text-white-shadow{
    color:white;
    text-shadow: 1px 1px 1px #333;
}
.navi-top-item-icon{
    width:24px;
}
.navi-top-items{
    width:100%;
    line-height: 24px;
    height:24px;
}
.navi-top-items:hover{
    background-color: darkcyan;
}
.bg-themes{
    background-color: darkcyan;
}
.color-themes{
    color:#016074;
}
.text-black{
    color: black!important;
}
.itr-dialog-backdrop{
    position: fixed;
    top: -200vh;
    left:0;
    /* padding-top:20px; */
    width:100%;
    height:100vh;
    z-index: 222222;
    background-color:transparent;
    transition:top 0.5s ease;
    overflow-y: auto;
}

.itr-dialog-backdrop.active{
    top:-2px;
}
.item-hover{
    padding:7px 10px;
    cursor: pointer;
}
.item-hover:hover{
    padding:7px 10px;
    cursor: pointer;
    background-color: #dce9e6;
}
.history-icon-left{
    display: inline-table;
    vertical-align: middle;
    text-align: center;
}
.form-control-select[readonly]{
    background-color: inherit;
    color:inherit;
    cursor: pointer;
}


.button-home{
    display: inline-block;
    /* width:128px; */
    padding:15px;
    border: 1px solid #cbcbcb;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
}
.button-home:hover{
    background-color: #dfdede;
}
.icon-home,.icon-home-card{
    /* width:128px;
    height: 128px; */
    color: darkcyan;
    display: block;
    font-size: 72px;
    line-height: 72px;
    width:84px;
}
.icon-home-card{
    color:darkmagenta;
}
.main-content{
    padding-top:100px;
}
.content-home{
    padding-left:15px;
}

.form-dialog-navbar{
    color:#016074;
}
.img-tiny{
    width:128px;
    height:128px;
    object-fit: cover;
}
.img-small{
    width:240px;
    height:240px;
    object-fit: cover;
}
@media (max-width: 767px) {
    .form-login{
        width:100%;
        height: 100vh;
        border:0;
        border-radius: 0;
        position: static;
    }
    .form-dialog-content{
        width:100%;
        border:none;
    }
    .form-dialog-backdrop{
        background-color: transparent;
    }
    .form-dialog-x-backdrop.active{
        left:0;
    }
    .img-small{
        width:128px;
        height:128px;
    }
    .img-tiny{
        width:64px;
        height:64px;
    }
}