<div class="main-content content-home">
    <div class="mb-5 d-flex flex-row bd-highlight mb-3">
        <div class="p-2 ms-5 bg-satu bg-hover-shadow home-button pointer" ng-click="komplain.open()">
            <img src="assets/img/komplain.png" class="img-full-width">
            <div class="text-center"><strong>Komplain</strong> </div>
        </div>
        <div class="p-2 ms-5 bg-dua bg-hover-shadow home-button pointer" ng-click="overtime.open()">
            <img src="assets/img/overtime.png" class="img-full-width">
            <div class="text-center"><strong>Overtime AC</strong></div>
        </div>
        <div class="p-2 ms-5 bg-tiga bg-hover-shadow home-button pointer" ng-click="pinjam.open()">
            <img src="assets/img/pinjam.png" class="img-full-width">
            <div class="text-center"><strong>Pinjam Aset</strong></div>
        </div>
    </div>
    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 ms-5 bg-empat bg-hover-shadow home-button pointer" ng-click="idcard.open()">
            <img src="assets/img/idcard.png" class="img-full-width">
            <div class="text-center"><strong>Kartu ID</strong></div>
        </div>
        <div class="p-2 ms-5 bg-lima bg-hover-shadow home-button pointer" ng-click="parkir.open()">
            <img src="assets/img/parkir.png" class="img-full-width">
            <div class="text-center"><strong>Kartu Parkir</strong></div>
        </div>
        <div class="p-2 ms-5 bg-enam bg-hover-shadow home-button pointer" ng-click="akses.open()">
            <img src="assets/img/akses.png" class="img-full-width">
            <div class="text-center"><strong>Kartu Akses</strong></div>
        </div>
    </div>
      
    <!-- <div class="mb-3"> -->
<!--         
        <div class="button-home mb-3 me-3" ng-click="komplain.open()">
            <span class="fa fa-{{komplain.icon}} icon-home"></span>
            <small>{{komplain.title}}</small>
        </div>
        <div class="button-home mb-3 me-3" ng-click="overtime.open()">
            <span class="fa fa-{{overtime.icon}} icon-home"></span>
            <small>{{overtime.title}}</small>
        </div>
        <div class="button-home mb-3 me-3" ng-click="pinjam.open()">
            <span class="fa fa-{{pinjam.icon}} icon-home"></span>
            <small>{{pinjam.title}}</small>
        </div>
     </div>
     <div class="mb-3">
        <div class="button-home mb-3 me-3" ng-click="idcard.open()">
            <span class="fa fa-{{idcard.icon}} icon-home-card"></span>
            <small>{{idcard.title}}</small>
        </div>
        <div class="button-home mb-3 me-3" ng-click="parkir.open()">
            <span class="fa fa-{{parkir.icon}} icon-home-card"></span>
            <small>{{parkir.title}}</small>
        </div>
        <div class="button-home mb-3 me-3" ng-click="akses.open()">
            <span class="fa fa-{{akses.icon}} icon-home-card"></span>
            <small>{{akses.title}}</small>
        </div> -->
     <!-- </div>    -->
</div>

<div alt-component="form/komplain" data-scope="komplain"></div>
<div alt-component="form/overtime" data-scope="overtime"></div>
<div alt-component="form/pinjam" data-scope="pinjam"></div>

<div alt-component="form/idcard" data-scope="idcard"></div>
<div alt-component="form/parkir" data-scope="parkir"></div>
<div alt-component="form/akses" data-scope="akses"></div>
