<div class="main-content content-home">
        <div class="row g-3">
            <div class="col-md-12">
              <label class="form-label"><span class="fa fa-user text-muted pe-1"></span>Nama</label>
              <input type="text" class="form-control" ng-model="data.nama" placeholder="Nama Lengkap" required>
            </div>
            <div class="col-md-6">
              <label class="form-label"><span class="fa fa-user-tag text-muted pe-1"></span>Nip</label>
              <input type="text" class="form-control"  ng-model="data.nip" placeholder="Nomor Pegawai">
            </div>
            <div class="col-6">
              <label class="form-label"><span class="fa fa-mobile-alt text-muted pe-1"></span>Hp</label>
              <input type="text" class="form-control"  ng-model="data.hp" placeholder="Nomor Handphone">
            </div>
            <div class="col-md-6">
              <label class="form-label"><span class="fa fa-couch text-muted pe-1"></span>Bidang</label>
              <input type="text" class="form-control form-control-select" ng-model="data.bidang_nama" ng-click="bidangDlg.open()" placeholder="nama bidang" readonly>
            </div>
            <div class="col-md-6">
              <label class="form-label"><span class="fa fa-user-tie text-muted pe-1"></span>Atasan</label>
              <input type="text" class="form-control form-control-select" ng-model="data.atasan_nama" ng-click="atasanDlg.open()" placeholder="nama atasan" readonly>  
            </div>
            <div class="col-md-6">
              <label class="form-label"><span class="fa fa-bezier-curve text-muted pe-1"></span>SBU</label>
              <input type="text" class="form-control form-control-select" ng-model="data.sbu_nama" ng-click="sbuDlg.open()">
            </div>
            <div class="col-md-6">
                <label class="form-label"><span class="fa fa-building text-muted pe-1"></span>Office</label>
                <input type="text" class="form-control form-control-select" ng-model="data.office_nama" ng-click="officeDlg.open()">
            </div>
        </div>

        <div class="separator-50"></div>
        <div class="mb-3 row">
            <div class="col d-grid"></div>
            <div class="col d-grid">
                <button class="btn btn-themes" ng-click="submit()">Submit</button>
            </div>
        </div>
    </div>
</div>
<div alt-component="search" data-scope="bidangDlg"></div>
<div alt-component="search" data-scope="sbuDlg"></div>
<div alt-component="search" data-scope="officeDlg"></div>
<div alt-component="search" data-scope="atasanDlg"></div>