<div class="form-dialog-backdrop active">
    <div class="form-dialog-content m-auto">

        <div class="row">
            <div class="col-1">
                <span class="fa fa-arrow-left span-link"></span>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <span class="input-group-text">
                        <span class="fa fa-search"></span>
                    </span>
                  </div>
           </div>
        </div>
        <table class="table table-borderless table-hover">
            <tbody>
                <tr class="pointer">
                    <td>Nama</td>
                </tr>
                <tr>
                    <td>Nama</td>
                </tr>
                <tr>
                    <td>Nama</td>
                </tr>
                <tr>
                    <td>Nama</td>
                </tr>
                <tr>
                    <td>Nama</td>
                </tr>
            </tbody>
        </table>
    </div>
 </div>