<div class="itr-dialog-backdrop {{active?'active':''}}">
    <div class="col-md-6 p-3 m-auto mb-2 bg-white border border-secondary rounded-bottom small-full-width">
        <div class="mb-3">&nbsp;</div>
        
        <div class="mb-3">
            <label class="form-label">Catatan</label>
            <textarea class="form-control" rows="3" ng-model="data.catatan" maxlength="512"></textarea>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="downloadZip" ng-model="data.download" ng-checked="true" ng-true-value="1"> 
            <label class="form-check-label" for="downloadZip">
                Download zip data user
            </label>
        </div>
        <div class="separator-50"></div>
        <div class="row">
            <div class="col-6">
                <button type="button" class="btn btn-outline-secondary btn-sm" ng-click="close()">
                    <span class="fa fa-arrow-left pe-3"></span>Cancel
                </button>
            </div>
            <div class="col-6 text-end">
                <button type="submit" class="btn btn-primary btn-sm">
                    <span class="fa fa-trash pe-3"></span>Proses
                </button>
            </div>
        </div>     
    </div>
</div>
