
    <form ng-submit="signin()" class="form-login">
        <div class="mb-5 text-center mt-3">
            
        </div>
        <div class="mb-3">
            <input type="text" class="form-control border-login" ng-model="data.username" placeholder="username:" required>
        </div>
        <div class="mb-3"> 
            <input type="{{showpassword?'text':'password'}}" class="form-control border-login" ng-model="data.password" placeholder="password:" required>
        </div>
        <div class="form-check mb-4">
            <input class="form-check-input check-input-login" id="showPwd" type="checkbox" ng-model="showpassword">
            <label class="form-check-label" for="showPwd">Show Password</label>
        </div>
            <div class="d-grid text-center">
                <button type="submit" class="btn btn-login">
                   LOGIN
                </button>
            </div>
    </form>




 <div class="navi-top">
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis nobis eligendi temporibus consectetur reiciendis beatae debitis odit autem tempora recusandae, dolorem quia ab veniam magni dolores delectus saepe hic quibusdam?
 </div>
 