
<form ng-submit="signin()" class="form-login">
    <div class="mb-5 text-center mt-3">
        <img src="assets/img/logo.png" alt="todolist-logo">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control border-orange" ng-model="data.username" placeholder="username:" required>
    </div>
    <div class="mb-3"> 
        <input type="{{showpassword?'text':'password'}}" class="form-control border-orange" ng-model="data.password" placeholder="password:" required>
    </div>
    <div class="form-check mb-4">
        <input class="form-check-input" id="showPwd" type="checkbox" ng-model="showpassword">
        <label class="form-check-label" for="showPwd">Show Password</label>
    </div>
        <div class="d-grid text-center">
            <button type="submit" class="btn btn-orange text-shadow">
               LOGIN
            </button>
        </div>
</form>
